body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #e0f7fa, #b3e5fc); 
    color: #333;
    margin: 0;
    padding: 2vh 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


header {
    width: 100%;
    background: #007acc;
    padding: 2vh 0;
    border-radius: 5vh;
}

nav {
    display: flex;
    justify-content: center;
    gap: 5%;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1.5vh 2.5%;
    border-radius: 0.5em;
    transition: background 0.3s ease;
}

nav a:hover {
    background: #005f8c; 
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.logo {
    width: 8vw;
    margin-right: 1em;
}


.about-section {
    background-color: white;
    padding: 3vh;
    margin-top: 4vh;
    border-radius: 1em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 4vh auto;
    color: #333;
}

.about-section h2 {
    font-size: 2rem;
    color: #007acc; 
    margin-bottom: 2vh;
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2vh;
}

.about-section h3 {
    font-size: 1.5rem;
    color: #007acc;
    margin-top: 3vh;
}

.about-section a {
    color: #007acc;
    text-decoration: none;
}

.about-section a:hover {
    text-decoration: underline;
}


#weather-container {
    background: #ffffff;
    padding: 5vh;
    border-radius: 2em;
    width: 90%;
    max-width: 25em;
    margin-top: 5vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), 
                -5px -5px 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease-in-out;
}


#weather-container:hover {
    transform: translateY(-1vh);
}


#weather-icon {
    width: 20vw;
    max-width: 8em;
    margin: 2vh 0;
}


h2 {
    font-size: 2rem;
    color: #007acc; /* Accent color */
    margin-bottom: 2vh;
}

p {
    font-size: 1.2rem;
    margin: 1vh 0;
    line-height: 1.5;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5vh); }
    to { opacity: 1; transform: translateY(0); }
}


h2, p {
    animation: fadeIn 0.8s ease-in-out;
}


footer {
    text-align: center;
    margin-top: 4vh;
    font-size: 1rem;
    color: #333;
}


@media (max-width: 600px) {
    h1 {
        font-size: 1.3rem;
    }

    #weather-container {
        width: 90%;
    }

    .logo-container {
        flex-direction: column;
        margin-bottom: 2vh;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 1vh;
    }

    nav {
        flex-direction: column;
        gap: 3vh;
    }
}
